html {
	background-color:#fadadd ;
	color:#331800; }



button { 
	font-size: 20px;
	font-weight: strong;
	width: 90%;
	background-color: #faf3eb;  
	color:#331800;
	padding: 12px 40px;
	border-radius: 18px; }

img {
	object-fit:contain;
	width:1350px;
	height:800px;}

#container {
	width:560px;
	height:405px;
	position: absolute;
	top: 20%;
	left:8%;
	margin-top: -6px;
	margin-left: -5px;
	padding:5px;}
